<!-- <mat-tree #tree [dataSource]="dataSource" [childrenAccessor]="childrenAccessor">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding >
      <button mat-icon-button disabled></button>
      {{node.name}}
    </mat-tree-node>
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle
                   [cdkTreeNodeTypeaheadLabel]="node.name" >
      <button mat-icon-button matTreeNodeToggle
              [attr.aria-label]="'Toggle ' + node.name">
        <mat-icon class="mat-icon-rtl-mirror">
          {{tree.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
        </mat-icon>
      </button>
      <span *ngIf="!isCollapsed">  {{node.name}}</span>
    
    </mat-tree-node>
  </mat-tree> -->
  

  <!-- Parent Item (User) -->
<a mat-list-item (click)="toggleExpand()">
  <span class="entry">
    <mat-icon >person</mat-icon>
    @if (!isCollapsed) {
      <span >Users</span>
    }
  </span>
</a>

<!-- Child Items (Visible When Expanded) -->
<div *ngIf="isExpanded"  class="flex items-center flex-col">
  <a mat-list-item >
    <span class="entry">
      <mat-icon>person_add</mat-icon>
      @if (!isCollapsed) {
      <span>Add User</span>
      }
    </span>
  </a>
  <a mat-list-item >
    <span class="entry">
      <mat-icon>security</mat-icon>
      @if (!isCollapsed) {
      <span >User Privileges</span>
      }
    </span>
  </a>
</div>
