<app-page-header [pageTitle]="pageTitle"/>

<div class="items-center gap-4  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <mat-form-field class="col">
        <mat-label>إسم الصنف</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>الكود</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>الفئة</mat-label>
        <mat-select>        
        </mat-select>
      </mat-form-field>
      
      <mat-form-field class="col">
        <mat-label>الكمية</mat-label>
        <input matInput type="number" min="0">
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>سعر الشراء</mat-label>
        <input matInput type="number" min="0">
      </mat-form-field>

      <mat-form-field class="col">
        <mat-label>سعر البيع</mat-label>
        <input matInput type="number" min="0">
      </mat-form-field>
</div>

<app-save-btn/>