<app-page-header [pageTitle]="pageTitle"/>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <input type="hidden"  formControlName="id">
  
  <div class="items-center gap-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <mat-form-field class="col">
      <mat-label>إسم الصنف</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="productForm.get('name')?.errors?.['required']">هذا الحقل مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>الكود</mat-label>
      <input matInput formControlName="code">
      <mat-error *ngIf="productForm.get('code')?.errors?.['required']">هذا الحقل مطلوب</mat-error>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>الفئة</mat-label>
      <mat-select formControlName="category"> 
        <mat-option *ngFor="let category of flattenedCategories" [value]="category.ID">
          {{category.Description}}
        </mat-option>       
      </mat-select>
      <mat-error *ngIf="productForm.get('category')?.errors?.['required']">هذا الحقل مطلوب</mat-error>
    </mat-form-field>
    
    <mat-form-field class="col">
      <mat-label>الكمية</mat-label>
      <input matInput type="number" min="0" formControlName="quantity">
      <mat-error *ngIf="productForm.get('quantity')?.errors?.['required']">هذا الحقل مطلوب</mat-error>
      <mat-error *ngIf="productForm.get('quantity')?.errors?.['min']">يجب أن تكون القيمة 0 أو أكثر</mat-error>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>سعر الشراء</mat-label>
      <input matInput type="number" min="0" formControlName="purchasePrice">
      <mat-error *ngIf="productForm.get('purchasePrice')?.errors?.['required']">هذا الحقل مطلوب</mat-error>
      <mat-error *ngIf="productForm.get('purchasePrice')?.errors?.['min']">يجب أن تكون القيمة 0 أو أكثر</mat-error>
    </mat-form-field>

    <mat-form-field class="col">
      <mat-label>سعر البيع</mat-label>
      <input matInput type="number" min="0" formControlName="sellingPrice">
      <mat-error *ngIf="productForm.get('sellingPrice')?.errors?.['required']">هذا الحقل مطلوب</mat-error>
      <mat-error *ngIf="productForm.get('sellingPrice')?.errors?.['min']">يجب أن تكون القيمة 0 أو أكثر</mat-error>
    </mat-form-field>

    <app-image-uploader (imageSelected)="onImageSelected($event)"></app-image-uploader>
  </div>

  <app-save-btn type="submit" [disabled]="productForm.invalid"/>
</form>

<app-search-bar (search)="searchProducts($event)"></app-search-bar>

<table mat-table [dataSource]="products" class="mat-elevation-z8">
  <!-- Code Column -->
  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef> الكود </th>
    <td mat-cell *matCellDef="let product"> {{product.Code}} </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> الوصف </th>
    <td mat-cell *matCellDef="let product"> {{product.Description}} </td>
  </ng-container>

  <!-- Category Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> الفئة </th>
    <td mat-cell *matCellDef="let product"> {{product.CategoryId}} </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef> الكمية </th>
    <td mat-cell *matCellDef="let product"> {{product.Quantity}} </td>
  </ng-container>

  <!-- Purchase Price Column -->
  <ng-container matColumnDef="purchasePrice">
    <th mat-header-cell *matHeaderCellDef> سعر الشراء </th>
    <td mat-cell *matCellDef="let product"> {{product.PurchasePrice}} </td>
  </ng-container>

  <!-- Selling Price Column -->
  <ng-container matColumnDef="sellingPrice">
    <th mat-header-cell *matHeaderCellDef> سعر البيع </th>
    <td mat-cell *matCellDef="let product"> {{product.SellingPrice}} </td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> الإجراءات </th>
    <td mat-cell *matCellDef="let product">
      <button mat-icon-button (click)="EditProduct(product)">
        <mat-icon color="primary">edit</mat-icon>
      </button>
      <button mat-icon-button (click)="DeleteProduct(product)">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<app-notification
  [message]="(notificationService.notification$ | async)?.message || ''"
  [type]="(notificationService.notification$ | async)?.type || 'success'"
  [show]="(notificationService.notification$ | async) !== null">
</app-notification>